<div class="auth-page">
  <div class="container">
    <div class="form-container">
      <h1>{{ title }}</h1>
      <p class="auth-link">
        <a [routerLink]="['/login']" *ngIf="authType === 'register'">Have an account?</a>
        <a [routerLink]="['/register']" *ngIf="authType === 'login'">Need an account?</a>
      </p>
      <app-list-errors [errors]="errors"></app-list-errors>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">
          <mat-form-field *ngIf="authType === 'register'" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>

          <div class="form-actions">
            <button mat-raised-button color="primary" [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
