<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <app-article-meta [article]="article">

          <span [hidden]="!canModify">
          <a [routerLink]="['/editor', article.slug]"
             class="btn btn-sm btn-outline-secondary">
            <i class="ion-edit"></i> {{'edit-article' | translate}}
          </a>

          <button (click)="deleteArticle()"
                  [ngClass]="{disabled: isDeleting}"
                  class="btn btn-sm btn-outline-danger">
            <i class="ion-trash-a"></i> {{'delete-article' | translate}}
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button
            (toggle)="onToggleFollowing($event)"
            [profile]="article.author">
          </app-follow-button>

          <app-favorite-button
            (toggle)="onToggleFavorite($event)"
            [article]="article">
            {{ (article.favorited ? 'unfavorite' : 'favorite') | translate }} {{'article' | translate}} <span
            class="counter">({{ article.favoritesCount }})</span>
          </app-favorite-button>
        </span>

      </app-article-meta>
    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">

        <div [innerHTML]="article.body | markdown"></div>

        <ul class="tag-list">
          <li *ngFor="let tag of article.tagList" class="tag-default tag-pill tag-outline">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr/>

    <div class="article-actions">
      <app-article-meta [article]="article">

          <span [hidden]="!canModify">
          <a [routerLink]="['/editor', article.slug]"
             class="btn btn-sm btn-outline-secondary">
            <i class="ion-edit"></i> {{'edit-article' | translate}}
          </a>

          <button (click)="deleteArticle()"
                  [ngClass]="{disabled: isDeleting}"
                  class="btn btn-sm btn-outline-danger">
            <i class="ion-trash-a"></i> {{'delete-article' | translate}}
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button
            (toggle)="onToggleFollowing($event)"
            [profile]="article.author">
          </app-follow-button>

          <app-favorite-button
            (toggle)="onToggleFavorite($event)"
            [article]="article">
            {{ (article.favorited ? 'unfavorite' : 'favorite') | translate }} {{'article' | translate}}  <span
            class="counter">({{
            article.favoritesCount }})</span>
          </app-favorite-button>
        </span>

      </app-article-meta>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div *appShowAuthed="true">
          <app-list-errors [errors]="commentFormErrors"></app-list-errors>
          <form (ngSubmit)="addComment()" class="card comment-form">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <textarea [formControl]="commentControl"
                          [placeholder]="'write-a-comment' | translate"
                          class="form-control"
                          rows="3"
                ></textarea>
              </div>
              <div class="card-footer">
                <img [src]="currentUser.image" class="comment-author-img"/>
                <button class="btn btn-sm btn-primary" type="submit">
                  {{'post-comment' | translate}}
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">{{'sign-in' | translate}}</a> or <a [routerLink]="['/register']">{{'sign-up' |
          translate}}</a> {{'add-comment-to-article' | translate}}
        </div>

        <app-article-comment
          (deleteComment)="onDeleteComment(comment)"
          *ngFor="let comment of comments"
          [comment]="comment">
        </app-article-comment>

      </div>
    </div>

  </div>
</div>
