<app-message-preview *ngFor="let message of results" [message]="message"> </app-message-preview>

<div [hidden]="!loading" class="app-message-preview">
  {{ 'loading-messages' | translate }}
</div>

<div [hidden]="loading || results.length" class="app-message-preview">
  {{ 'no-messages-yet' | translate }}
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">
    <li
      (click)="setPageTo(pageNumber)"
      *ngFor="let pageNumber of totalPages"
      [ngClass]="{ active: pageNumber === currentPage }"
      class="page-item"
    >
      <a class="page-link">{{ pageNumber }}</a>
    </li>
  </ul>
</nav>
