<div class="editor-page">
  <div class="container">
    <div class="form-container" style="max-width: 800px">

      <app-list-errors [errors]="errors"></app-list-errors>

      <form [formGroup]="articleForm">
        <fieldset [disabled]="isSubmitting">

          <mat-form-field appearance="outline">
            <mat-label>Article Title</mat-label>
            <input matInput formControlName="title" type="text" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>What's this article about?</mat-label>
            <input matInput formControlName="description" type="text" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Write your article (in markdown)</mat-label>
            <textarea matInput formControlName="body" rows="8"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Enter tags</mat-label>
            <input matInput type="text" [formControl]="tagField" (keyup.enter)="addTag()" />
          </mat-form-field>

          <mat-chip-set>
            <mat-chip *ngFor="let tag of article.tagList"
              (removed)="removeTag(tag)"
              removable>
              {{ tag }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-set>

          <div class="form-actions" style="margin-top: 16px">
            <button mat-raised-button color="primary" type="button" (click)="submitForm()">
              Publish Article
            </button>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>
