@for (article of results; track article) {
  <app-article-preview
    [article]="article">
  </app-article-preview>
}

@if (loading) {
  <div style="padding: 24px 0">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
}

@if (!loading && !results?.length) {
  <div style="padding: 24px 0; text-align: center; opacity: 0.6">
    No articles are here... yet.
  </div>
}

@if (!loading && totalPages.length > 1) {
  <div class="pagination-row">
    @for (pageNumber of totalPages; track pageNumber) {
      <button mat-mini-fab
        [color]="pageNumber === currentPage ? 'primary' : ''"
        (click)="setPageTo(pageNumber)"
        style="margin: 2px">
        {{ pageNumber }}
      </button>
    }
  </div>
}
