@if (view | async; as list) {
  @for (article of list.results; track article) {
    <app-article-preview
      [article]="article">
    </app-article-preview>
  }

  @if (list.loading) {
    <div style="padding: 24px 0">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  }

  @if (!list.loading && !list.results.length) {
    <div style="padding: 24px 0; text-align: center; opacity: 0.6">
      No articles are here... yet.
    </div>
  }

  @if (!list.loading && list.totalPages.length > 1) {
    <div class="pagination-row">
      @for (pageNumber of list.totalPages; track pageNumber) {
        <button mat-mini-fab
          [color]="pageNumber === list.currentPage ? 'primary' : ''"
          (click)="setPageTo(pageNumber)"
          style="margin: 2px">
          {{ pageNumber }}
        </button>
      }
    </div>
  }
}
