<mat-card class="article-card">
  <mat-card-content>
    <app-article-meta [article]="article">
      <app-favorite-button
        [article]="article"
        (toggle)="onToggleFavorite($event)">
        {{article.favoritesCount}}
      </app-favorite-button>
    </app-article-meta>

    <a [routerLink]="['/article', article.slug]">
      <h3>{{ article.title }}</h3>
      <p class="article-description">{{ article.description }}</p>
      <div class="article-footer">
        <span class="read-more">Read more...</span>
        <mat-chip-set>
          <mat-chip *ngFor="let tag of article.tagList" class="tag-chip" disabled>
            {{ tag }}
          </mat-chip>
        </mat-chip-set>
      </div>
    </a>
  </mat-card-content>
</mat-card>
