<div class="article-preview">
  <app-article-meta [article]="article">
    <app-favorite-button (toggle)="onToggleFavorite($event)" [article]="article" class="pull-xs-right">
      {{ article.favoritesCount }}
    </app-favorite-button>
  </app-article-meta>

  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>{{ 'read-more' | translate }}</span>
    <ul class="tag-list">
      <li *ngFor="let tag of article.tagList" class="tag-default tag-pill tag-outline">
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
