<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img [src]="profile.image" [alt]="'profile-picture' | translate" class="user-img" />
          <h4>{{ profile.username }}</h4>
          <p>{{ profile.bio }}</p>
          <app-follow-button (toggle)="onToggleFollowing($event)" [hidden]="isUser" [profile]="profile">
          </app-follow-button>
          <a [hidden]="!isUser" [routerLink]="['/settings']" class="btn btn-sm btn-outline-secondary action-btn">
            <em class="ion-gear-a"></em> {{ 'edit-profile-settings' | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/profile', profile.username]"
                class="nav-link"
                routerLinkActive="active"
              >
                My Posts
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/profile', profile.username, 'favorites']"
                class="nav-link"
                routerLinkActive="active"
              >
                {{ 'favorited-posts' | translate }}
              </a>
            </li>
          </ul>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
