<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ 'your-settings' | translate }}</h1>

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <legend>{{'url-profile-picture' | translate}}</legend>
              <input
                class="form-control"
                type="text"
                [placeholder]="'url-profile-picture' | translate"
                formControlName="image"
              />
            </fieldset>

            <fieldset class="form-group">
              <legend>{{'username' | translate}}</legend>
              <input
                class="form-control form-control-lg"
                type="text"
                [placeholder]="'username' | translate"
                formControlName="username"
              />
            </fieldset>

            <fieldset class="form-group">
              <legend>{{'short-bio' | translate}}</legend>
              <textarea
                class="form-control form-control-lg"
                rows="8"
                [placeholder]="'short-bio' | translate"
                formControlName="bio"
              >
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <legend>{{'email' | translate}}</legend>
              <input
                class="form-control form-control-lg"
                type="email"
                [placeholder]="'email' | translate"
                formControlName="email"
              />
            </fieldset>

            <fieldset class="form-group">
              <legend>{{'new-password' | translate}}</legend>
              <input
                class="form-control form-control-lg"
                type="password"
                [placeholder]="'new-password' | translate"
                formControlName="password"
              />
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
              {{ 'update-settings' | translate }}
            </button>
          </fieldset>
        </form>

        <!-- Line break for logout button -->
        <hr />

        <button class="btn btn-outline-danger" (click)="logout()">Or click here to logout.</button>
      </div>
    </div>
  </div>
</div>
