<div class="settings-page">
  <div class="container">
    <div class="form-container">
      <h1>Your Settings</h1>

      <app-list-errors [errors]="errors"></app-list-errors>

      <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
        <fieldset [disabled]="isSubmitting">

          <mat-form-field appearance="outline">
            <mat-label>URL of profile picture</mat-label>
            <input matInput type="text" formControlName="image" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Short bio about you</mat-label>
            <textarea matInput rows="8" formControlName="bio"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>

          <div class="form-actions">
            <button mat-raised-button color="primary" type="submit">
              Update Settings
            </button>
          </div>

        </fieldset>
      </form>

      <mat-divider style="margin: 16px 0"></mat-divider>

      <button mat-stroked-button color="warn" (click)="logout()">
        Or click here to logout.
      </button>

    </div>
  </div>
</div>
